* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
}

body {
    background-color: rgb(255, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: rgb(155, 195, 253);
    width: 20vw;
    height: 50vh;
    border: 5px solid rgb(58, 147, 230);
    border-radius: 10px;
    margin-top: 20%;
}

#input {
    text-align: right;
    padding: 15px;
    margin-bottom: 10px;
    height: 10%;
    background-color: #5a5a59;
}

table {
    width: 95%;
    height: 100%;
    margin: 5px;
    border-spacing: 0.4rem;
}

td {
    width: 4rem;
    height: 2.5rem;
    margin: 10px;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: gray;
    border: none;
    padding: 5px;
}

button:hover {
  box-shadow: 2px 2px 4px #000000;
}

button:active {
    transform: scale(0.9, 0.9);
}

@media (max-width: 900px) {
  #container {
      width: 80%;
      margin-top: 5%;
  }
}

@media (max-width: 500px) {
  #container {
      width: 96%;
      margin-top: 5%;
  }
}
